<!DOCTYPE html>
<html lang="en">

<head>
    <title>FIFA World Cup Dream Team</title>
</head>

<body>

    {{{body}}}
    <div align="center" style="z-index:9;visibility:visible;"><a href="http://www.totallyfreecursors.com/"
            target="_blank" class="tfc"></a>
    </div>
    <style>
        HTML,
        BODY {
            cursor: url("http://downloads.totallyfreecursors.com/cursor_files/soccerball.cur"), url("http://downloads.totallyfreecursors.com/thumbnails/soccer-ball.gif"), auto;
        }
    </style>
</body>

</html>