<div class="container">
    <div class="row">

        <div class="col-6">
            <h3>Pick Your Players</h3>
            {{#each player_data}}
            {{#unless this.pick}}

            <form method="POST" action="/players/update?_method=PUT" class="button-size">
                <div class="input-group mb-3">
                    <input type="hidden" name="player_id" value={{this.id}}>
                    <pre>{{this.player_name}}      <button class='complete btn btn-outline-secondary btn-sm'>✓</button></pre>
                </div>
            </form>
            {{/unless}}
            {{/each}}
        </div>

        <div class="col-6">
            <h3>Players on Your Team</h3>
            {{#each player_data}}
            {{#if this.pick}}
            <pre>{{this.player_name}}</pre>
            {{/if}}
            {{/each}}
        </div>

    </div>
    <br>

    <div class="row">

        <div class="col-6">
            <h4>Add a Player for Your Pick</h4>
            <form action="/players/create" method="POST">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="player_name" value="" id="enter_text">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="text-enter-button">Add a
                            Player</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>

